# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
/staticfiles

# Virtual Environment
venv/
env/
ENV/
.venv/
.env

# IDEs and Editors
.vscode/
.idea/

# OS-specific
.DS_Store